/* Set the background color of the body element */
.MyWorkouts .body {
    background-color: black;
  }
  
  /* Set the text color for all elements */
  .MyWorkouts .text-white {
    color: white;
  }
  
  .MyWorkouts .text-black {
    color: black;
  }
  
  /* Set the color of the "Create Workout Plan" button */
  .MyWorkouts .btn-outline-success {
    color: white;
    background-color: limegreen;
    border-color: limegreen;
  }
  
  /* Set the color of the "Delete Plan" button */
  .MyWorkouts .btn-outline-danger {
    color: white;
    background-color: black;
    border-color: black;
  }
  
  /* Set the color of the search button */
  .MyWorkouts .btn-outline-success.btn-ms-3 {
    color: white;
    background-color: limegreen;
    border-color: limegreen;
  }
  
  /* Set the background color of the workout cards */
  .MyWorkouts .card.rounded-3 {
    background-color: white;
  }
  
  /* Set the font size and color of the workout names and descriptions */
  .MyWorkouts .lead {
    font-size: 24px;
    color: black;
  }
  
  .MyWorkouts .text-muted {
    color: black;
  }
  
  .MyWorkouts .btn-danger  {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #9b0606;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    
  }

  .MyWorkouts .btn:hover {
    background-color: #000;
    color: #32cd32;
    cursor: pointer;
  }  

  .MyWorkouts .btn-success  {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #32cd32;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    
  }