.container-fluid{
    background-color: black;
    height: 70px;
}
.home_page{
    margin: 0;
    padding: 0;
 }
 .navbar-brand{
    color: white;
    font-size: 50px ;
    font-weight: 500;
 }
 .navbar-brand:hover{
    color: #CCFF00;
 }
 .navbar-nav{
    margin-left: 63px;
 }
 .nav-item{
    padding: 8px;
 }
 .background_Report_page{
    background-color: #1F1F1F;
    height: 100%;
    
}
/* .chart{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
.UserReportHeading{
    color: #CCFF00;
    font-size: 45px;
    font-weight: bold;
    margin-left: 46%;
}
.UserBarChart{
    margin-left: 70px;
    background-color: white;
    width: 850px;
    height: 570px;
    border-radius: 5px;
    border: 5px solid #CCFF00;
    margin-bottom: 70px;
}
.UserPieChart{
    margin-left: 250px;
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    border: 5px solid #CCFF00;
}
.Userpie{
    margin-top: -70px;
    margin-left: 10%;
}
.UserBar{
    margin-left: 10%; 
}
.generateReport_page{
    height: auto;
}
.Rbox{
    margin-top: -80px;
    margin-left: 40%;
    color: #230be7;
}
.Sbox{
    margin-top: -40px;
    margin-left: 25%;
    color: #d50fbc;
}
.Tbox{
    margin-top: -40px;
    margin-left: 70%;
    color: #22fa07;
}
.UserBiechartYaxis{
    font-size: 15px;
    margin-left: 15%;
    color: red;
}
.UserChart{
    border-radius: 10px;
    border: 5px solid #99FF33;
    width: 1000px;
    margin-left: 230px;
    background-color: #d6edbb;
}
.UserReportHeading1{
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Secular One', sans-serif;
}
.UserReportHeading2{
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Secular One', sans-serif;
}
.UserReportHeading3{
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Secular One', sans-serif;
}
.UserPdfButton{
    background-color: #99FF33;
    color: #1F1F1F;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    transition: 1s;
    margin-left: 650px;
    font-size: 17px;
    font-family: 'Secular One', sans-serif;
}