.DetailsPDF {
    font-family: Arial, sans-serif;
  }
  
  .DetailsPDF.body {
    font-size: 10pt;
    line-height: 1.5;
  }
  
  .DetailsPDF.h1 {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 10pt;
  }
  
  .DetailsPDF.p {
    margin-bottom: 5pt;
  }
  
  .DetailsPDF.center {
    text-align: center;
  }

  .NewWorkoutPlan  .btn:hover {
    background-color: #000;
    color: #32cd32;
    cursor: pointer;
  }

  .pdfBtnText{
    text-decoration: none;
    
  }


  .DetailsPDF .btn-primary  {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #32cd32;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    
  }