@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

.FNExactFooter{
    background-color: black;
    height: 300px;
}

.FNFooterPic{
    width: 300px;
    height: 250px;
    margin-left: 40px;
    cursor: pointer;
}

.FNFooterHeading{
    color: white;
    font-size: 40px;
    margin-left: 330px;
    margin-top: -210px;
    font-family: 'Secular One', sans-serif;
}

.FNFooterHead1{
    color: white;
    font-size: 20px;
    margin-left: 720px;
    margin-top: -130px;
    cursor: pointer;
    font-family: 'Secular One', sans-serif;
}

.FNFooterHead2{
    color: white;
    font-size: 20px;
    margin-left: 810px;
    margin-top: -46px;
    cursor: pointer;
    font-family: 'Secular One', sans-serif;
}

.FNFooterHead3{
    color: white;
    font-size: 20px;
    margin-left: 940px;
    margin-top: -46px;
    cursor: pointer;
    font-family: 'Secular One', sans-serif;
}

.FNFooterHead4{
    color: white;
    font-size: 20px;
    margin-left: 1220px;
    margin-top: -46px;
    cursor: pointer;
    font-family: 'Secular One', sans-serif;
}

.FNFooterHead5{
    color: white;
    font-size: 20px;
    margin-left: 1310px;
    margin-top: -46px;
    cursor: pointer;
    font-family: 'Secular One', sans-serif;
}

.FNHr{
    margin-top: 120px;
    border: 2px solid white;
}

.FNFooterBottom{
    text-align: center;
    font-family: 'Jost', sans-serif;
}