@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');


.FNDashboardBG{
    background-color: #1F1F1F;
    height: auto;
}


.FNDashboardHeading{
    color: #99FF33;
    font-size: 45px;
    font-weight: bold;
    margin-left: 15px;
    font-family: 'Secular One', sans-serif;
}

.FNDashboardPara{
    font-size: 34px;
    color: white;
    width: 850px;
    height: 300px;
    font-family: 'Jost', sans-serif;
    margin-left: 100px;
}

.FNDashboardPic{
    width: 500px;
    height: 300px;
    margin-left: 950px;
    margin-top: -370px;
}

.FNDashboardSqr1{
    width: 450px;
    height: 200px;
    background-color: #99FF33;
    margin-left: 35px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.FNSqrHeading{
    text-align: center;
    font-weight: bold;
    font-size: 35spx;
    font-family: 'Secular One', sans-serif;
}

.FNSqrDesc{
    text-align: center;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    
}

.FNDashboardButton{
    background-color: #1F1F1F;
    color: #99FF33;
    border-radius: 10px;
    width: 100px;
    margin-left: 170px;
    transition: 1s;
}

.FNDashboardButton:hover {
    background-color: #99FF33;
    color: #1F1F1F;
    transform: scale(1.6);
   
  }

.FNDashboardSqr2{
    width: 450px;
    height: 200px;
    background-color: #99FF33;
    margin-top: -217px;
    margin-left: 517px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.FNDashboardSqr3{
    width: 450px;
    height: 200px;
    background-color: #99FF33;
    margin-top: -220px;
    margin-left: 1000px;
    margin-bottom: 20px;
    border-radius: 25px;
}

