
.container-fluid:required {
      background-color: black;
      height: 70px;
  }
  .dropdown:required {
      margin-left: 100px;
   }
   .navbar-brand:required {
      color: white;
      font-size: 50px ;
      font-weight: 500;
   }
   .navbar-brand:hover:required {
      color: #CCFF00;
   }
   .navbar-nav:required {
      margin-left: 50px;
   }
   .nav-item:required {
      padding: 8px;
   }