label {
  color: #f8f9fa; /* white */
}

input[type="text"],
textarea {
  background-color: #343a40; /* black */
  border-color: #6c757d; /* black 60% */
  color: #f8f9fa; /* white */
}

button {
  background-color: #28a745; /* lime green */
  border-color: #28a745; /* lime green */
  color: #f8f9fa; /* white */
}

button:hover {
  background-color: #218838; /* darker lime green */
  border-color: #1e7e34; /* darker lime green */
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #6c757d; /* black 60% */
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #6c757d; /* black 60% */
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #6c757d; /* black 60% */
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #6c757d; /* black 60% */
}
