.MOrderPage{
    color: aliceblue;
}
.MOrderHeading{
    color: chartreuse;
    text-align: center;
    padding-top: 1cm;
}
.MOrderReportBTN{
    margin-left: 29.65cm;
    width: 5cm;
}
.MOrderTable{
    margin-top: 1cm;
    margin-left: 2.5cm;
}
.MOrderTableHeading{
    color: antiquewhite;
}
.MOrderTableData{
    color:azure;
}
.orderPgTitle{
    color: chartreuse;
    text-align: center;
    padding-top: 1cm;
    padding-bottom: 1cm;
}
.order-title{
    font-size: 23px;
    margin-top: -0.25cm;
}
.order-price{
    margin-top: 0.5cm;
}
.order-qty{
    margin-top: -0.3cm;
}
.order-date{
    margin-top: -0.35cm;
}