@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

h1{
    margin-left: 40px;
    font-family: 'Poppins',sans-serif;
      font-size:2em;
    font-weight: normal;
    color:rgb(0, 0, 0);
  }
  