@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');



.FNCreatePage{
    background-color: #1F1F1F;
    height: auto;
}

.FNCreateHeading{
    color: #99FF33;
    font-size: 45px;
    font-weight: bold;
    margin-left: 15px;
    font-family: 'Secular One', sans-serif;
}

.FNCreateForm{
    margin-top: -160px;
    background-color: #2B302A;
    text-align: center;
    width: 600px;
    height: 700px;
    border-radius: 50px;
    margin-left: 450px;
}

.FNCreateFormHeading{
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.FNCreateFormInput{
    width: 400px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.FNCreateTextArea{
    border-radius: 10px;
}

.FNCreateSubmit{
    background-color: #99FF33;
    color: #1F1F1F;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    transition: 1s;
    font-weight: bold;
    font-size: 20px;
    margin-left: 70px;
    text-align: center;
    font-family: 'Secular One', sans-serif;
}

.FNCreateSubmit:hover{
    background-color: #1F1F1F;
    color: #99FF33;
    font-family: 'Secular One', sans-serif;
}

.FNCreateBtn{
    background-color: #99FF33;
    color: #1F1F1F;
    border-radius: 10px;
    width: 150px;
    height: 70px;
    transition: 1s;
    font-weight: bold;
    font-size: 15px;
    margin-left: 1260px;
    font-family: 'Secular One', sans-serif;
}

.FNCreateBtn:hover{
    background-color: #1F1F1F;
    color: #99FF33;
    transform: scale(1.4);
}

.FNCreateReset{
    background-color: #99FF33;
    color: #1F1F1F;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    transition: 1s;
    
    font-size: 17px;
    margin-top: 5px;
    font-family: 'Secular One', sans-serif;
}