.container-fluid{
    background-color: black;
    height: 70px;
}
.trainer_page{
    margin: 0;
    padding: 0;
 }
 .dropdown{
    margin-left: 190px;
    margin-top: 9px;
 }
 .navbar-brand{
    color: white;
    font-size: 50px ;
    font-weight: 500;
 }
 .navbar-brand:hover{
    color: #CCFF00;
 }
 .navbar-nav{
    margin-left: 63px;
 }
 .nav-item{
    padding: 8px;
 }