
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

.AdminHome{
    background-image: url("../adminHome/adminHomeImage.png");
    height: auto;
}

.AdminHomeHeading{
    font-size: 70px;
    color: white;
    margin-left: 30px;
    font-weight: bold;
    font-family: 'Secular One', sans-serif;
}

.AdminHomePara{
    font-size: 25px;
    color: white;
    margin-left: 30px;
    font-family: 'Jost', sans-serif;
    
}

.AdminHomeSecondPart{
    background-color: #1F1F1F;
    height: auto;
}

.AdminDivDesc1{
    background-color: #2B302A;
    height: 350px;
    width: 400px;
    margin-left: 50px;
    border-radius: 15px;
    border: 5px solid #99FF33;
}

.AdminDivHeading{
    font-weight: bold;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Secular One', sans-serif;

}

.AdminDivPara{
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: 'Jost', sans-serif;
}

.AdminDivIcon{
    height: 50px;
    width: 50px;
    margin-left: 170px;
    margin-top: 10px;
}

.AdminDivDesc2{
    background-color: #2B302A;
    height: 350px;
    width: 400px;
    margin-left: 540px;
    border-radius: 15px;
    border: 5px solid #99FF33;
    margin-top: -348px;
}

.AdminDivDesc3{
    background-color: #2B302A;
    height: 350px;
    width: 400px;
    margin-left: 1030px;
    border-radius: 15px;
    border: 5px solid #99FF33;
    margin-top: -347px;
    
}

.AdminButton{
    background-color: #1F1F1F;
    color: #99FF33;
    border-radius: 10px;
    width: 100px;
    margin-left: 144px;
    transition: 1s;
}

.AdminButton:hover {
    background-color: #99FF33;
    color: #1F1F1F;
    transform: scale(1.6);
   
  }