.NTcreate_box {
  background-color: #fbfbfb;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  }
  
  .NTtextheader {
  color: #000000;

  }
  
  .NTbtn_Addmeal {
  background-color: chartreuse;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right:650px

  }
  
  .NTbtn_Addmeal:hover {
  background-color: limegreen;
  }
  
  .NTbtn_Addmeal:active {
    background-color: darkgreen;
  }
  
  .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 25px;
  }
  
  .NTmeal_remove {
  background-color: red;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right:200px;
  margin-top: 10px;

  }
  .meal_remove:hover{
    background-color: rgb(164, 6, 6);

  }
  
  .NTbtn_submit {
  background-color: chartreuse;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right:-1000px;
  margin-top: -20px;
  }

  .NTbtn_submit:hover{
    background-color: darkgreen;
  }
  
  .NT_linlall {
  color: #000000;
  border-width: 10px;
  }
  .NT_Seachbar{
   color: #2b3028;
  }
  .NTform-control{
    width:100%;
    height: 50px;
    border-radius: 10px;
  border-color: #99ff33;
border-width: 3px;  }