.MReportPage{
    border: 2px solid #14bf47;
}
.MReportHeading{
    color: chartreuse;
    text-align: center;
    margin-left: 5cm;
    font-weight:600;
}
.MReportHeading2{
    color: rgb(210, 226, 176);
    text-align: center;
    font-weight:600;
    margin-left: 5cm;
    font-style: italic;
}
.MReportHeading3{
    color: rgb(225, 245, 220);
    margin-left: 5cm;
    text-align: center;
}
.MSaveReportBTN{
    margin-left: 27.1cm;
    width: 5cm;
}
.MReportTable{
    margin-top: 0.5cm;
    margin-left: 2cm;
}
.MReportTableHeading{
    color: antiquewhite;
}
.MReportTableData{
    color:azure;
}
.SalesTable{
    border: 2px solid #14bf47;
    margin-left: 0cm;
}