@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

.modal{
 width: 60%;
 display: flex;
 margin-left: 20%;
}
.modal-content{
    width :500px;
    background-color: #fff;
    margin-left: 20px;
}
.modal-header,.modal-footer{
    padding:10px;
}
.modal-title{
    margin-left: 0;
}
.modal-body{
    padding: 10px;
    border-top:1px solid #eee;
    border-bottom: 1px solid #eee;
}
.ReviewForm{
  text-align: start;
  background-color: #E1F1C1;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 15px; 
  margin-left: 40px;
  margin-right: 40px;
}
.Rtext{
    font-size: 1.2em;
    margin-left: 30px;
}
.sub,.Rinput{
    margin-left: 30px;
}

button{
  font-weight: bolder;
}

.can:hover,.Badd:hover {
  color: black;
  background-position: right center; /* change the direction of the change here */
  background-color: #99FF33;
}

.Badd,.can{
  margin-left: 25px;
  margin-bottom: 20px;
  padding: 3px 2px 10px 2px;
  font-size: 24;
  background: transparent;
  background-color: #56f585;
  padding: 10px 45px;
  font-weight:100;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  border-radius: 5px;
  border: 0;
}

.can:active,.add:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.RTextArea{
  resize: none;
  width:fit-content;
}
#ReactStar{
  font-style:normal;

}
.stars{
  display: inline-block;
}
.Rinput[type="radio"]{
  display:none
}
.star{
  cursor: pointer;
  transition:color 200ms;
}
.di{
  display: inline-flex;
}