v{
    font-weight: bold;
}
p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    font-family: 'Poppins',sans-serif;
    font-size: 32;
    font-weight: 300;
}
.icon-style{
    align-items: end;
}