.NThome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.NT_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NTmain_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NTmain_row_duplicate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NT_col {
  width: 30%;
  margin: 10px;
  height: 100%; /* Add this line */
}

.NTcard_main {
  height: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: relative;
}

.card-title_main {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text_main {
  font-size: 25px;
  text-align: center;
}

.NT_txtindex {
  color: #99ff33;
  font-size: 48px;
  text-align: center;
  margin-top: 50px;
}
