.SingleWorkout .body {
    background-color: #fff;
    color: #000;
  }
  
  .SingleWorkout .card {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 0;
  }
  
  .SingleWorkout .card-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 1rem;
  }
  
  .SingleWorkout .card-text {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 2rem;
  }
  
  .SingleWorkout .list-group-item {
    font-size: 1.2rem;
    color: #000;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #000;
  }
  
  .SingleWorkout .list-group-item:last-child {
    border-bottom: none;
  }
  
  .SingleWorkout .btn {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #32cd32;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
  
  .SingleWorkout .btn:hover {
    background-color: #000;
    color: #32cd32;
    cursor: pointer;
  }

  .sessionContainer{
    background-color: white;
    padding-right: 1%;
  }

  .workoutPlanContainer{
    padding-left: 5%;
    padding-right: 5%;
  }

  .SingleWorkout .btn-danger {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #9b0606;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    
  }

  .SingleWorkout .cardoutline  {
    border-radius: 10px; /* Add rounded edges */
    outline: 4px solid limegreen; /* Add lime green outline */
  }
  