.viewplan{
   text-align: center;
   background-color: #2b3028;
   margin: 100px;
   height: auto;
   border-radius: 20px;
   
}
.viewtext{
color: #99ff33;
}

.AllDietPlansPageDiv{
   height: auto;
  
}
.btn-back{
   background-color: chartreuse;
   
}
.containerdietplan{
   
}



























































