@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

.FNFaqPage{
    background-color: #1F1F1F;
    height: auto;
}

.FNFAQHeading{
    color: #99FF33;
    font-size: 45px;
    font-weight: bold;
    margin-left: 15px;
    font-family: 'Secular One', sans-serif;
}

.FNFaqDiv{
    background-color: black;
    margin-left: 300px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 30px;
    width: 900px;
}

.FNFaqQuestion{
    color: #99FF33;
    font-size: 30px;
    margin-left: 10px;
    font-family: 'Secular One', sans-serif;
}

.FNFaqAnswer{
    color: white;
    font-size: 25px;
    margin-left: 30px;
    font-family: 'Jost', sans-serif;
}

.FNFaqButton{
    background-color: #99FF33;
    color: #1F1F1F;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    transition: 1s;
    font-weight: bold;
    font-size: 15px;
    margin-left: 380px;
    font-family: 'Secular One', sans-serif;
    margin-bottom: 10px;
}

.FNFaqButton:hover{
    background-color: #1F1F1F;
    color: #99FF33;
    font-family: 'Secular One', sans-serif;
}
