/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */
  
  /* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */
  
  /* .Stopwatchcontainer {
    width: 400px;
    height: 20%;
    display: flex;
    margin : auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  }  */
  
  .clock {
    height: 10%;
    width: 400px;
    background: #0b121a;
    border-radius: 32px;
    background: #030d16;
    box-shadow: 21px 21px 39px rgba(215, 223, 232, 0.5),
      -21px -21px 39px rgba(237, 247, 255, 0.3);
    padding: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  
  .clock .heading-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .heading-bar span {
    color: rgb(59, 68, 95);
  }
  .timer-container {
    height: 100px;
    width: 50%;
    border-radius: 50%;
    background: #e6ecf5;
    box-shadow: 18px 18px 31px rgb(212, 217, 225, 0.5),
      -18px -18px 31px rgb(248, 255, 255, 0.5);
    padding: 10px;
    
  }
  
  .timer-container .stripes {
    border: 3px rgb(59, 68, 95);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* .timer-container .timer {
    font-size: 100;
    font-weight: bold;
    font-family: monospace;
    color: rgb(59, 68, 95);
    display: flex;
  } */
  
  .spacer {
    flex: 1;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container .button {
    height: 70px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e6ecf5;
    box-shadow: 7px 7px 13px rgba(219, 224, 233, 0.9),
      -7px -7px 13px rgba(242, 248, 255, 0.9);
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: rgb(59, 68, 95);
    cursor: pointer;
  }
  
  .button-container .button:nth-child(1) {
    margin-bottom: 18px;
  }
  .button-container .button:hover {
    background: linear-gradient(145deg, #f6fdff, #cfd4dd);
    box-shadow: 7px 7px 11px rgba(219, 224, 233, 0.5),
      -7px -7px 11px rgba(242, 248, 255, 0.5);
  }
  .button-container .button:nth-child(2) {
    margin-top: 18px;
    color: rgb(207, 22, 22);
  }
  
  .button-container .active {
    box-shadow: inset 7px 7px 11px #dbe0e9, inset -7px -7px 11px #f2f8ff;
  }

  .Stopwatch .btn-primary  {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #32cd32;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    margin-top: 20%;
    
  }

  .Stopwatch .btn-danger  {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #9b0606;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    margin-top: 20%;
    
  }
  
  .Stopwatch  .btn:hover {
    background-color: #000;
    color: #32cd32;
    cursor: pointer;
  }