.container-fluid{
    background-color: black;
    height: 70px;
}
.navbar{
    padding: 0%;
}
.view_page{
    margin: 0;
    padding: 0;
 }
 /* .img1{
   background-size: cover;
   background-repeat: no-repeat;
   height: 109.1vh;
   background-position: 69%;
 } */
 /* .dropdown{
    margin-left: 190px;
    margin-top: 9px;
 } */
 .navbar-brand{
    color: white;
    font-size: 50px ;
    font-weight: 500;
 }
 .navbar-brand:hover{
    color: #CCFF00;
 }
 /* .navbar-nav{
    margin-left: 1px;
 } */
 /* #profile_dropdown{
   margin-right: 120px;
 } */
 /* .nav-item{
    padding: 1px;
 } */
 /* .usersearch{
   border-radius: 15px;
   margin-left: 950px;
   margin-top: 20px;
   width: 400px;
   height: 50px;
   text-align: center;
   border: 5px solid #CCFF00;
 } */
 .fa-solid{
   margin-left: 500px;
 }




 .user_page_heading{
    font-weight: bold;
    padding: 4px;
    margin-left: 8%;
}
.rectangle{
    background-color: #CCFF00;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    margin-left: 600px;
    margin-top: 0px;
}
.img-fluid{
    width: 200px;
}
.otherusersbtn{
   background-color: #CCFF00;
   color: #1F1F1F;
   border-radius: 10px;
   width: 250px;
   height: 50px;
   transition: 1s;
   font-weight: bold;
   font-size: 20px;
}
.otherusersbtn:hover{
   background-color: #1F1F1F;
   color: #CCFF00;
}
.Userupdatebtn{
    background-color: #CCFF00;
    color: #1F1F1F;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    transition: 1s;
    font-weight: bold;
    font-size: 20px;
    margin-left: 570px;
}
.Userupdatebtn:hover{
    background-color: #1F1F1F;
    color: #CCFF00;
}
.Userdeletebtn{
    background-color: red;
    color: #1F1F1F;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    transition: 1s;
    font-weight: bold;
    font-size: 20px;
}
.Userdeletebtn:hover{
    background-color: #1F1F1F;
    color: red;
}
.view_body{
   background-color: #1F1F1F;
   height: auto;
}
.text-muted{
    font-size: 20px;
}
#view_User_heading{
    font-size: 20px;
    font-weight: bold;
}
#view_User_details{
    margin-left: 40%;
}
.collection-item{
   width: 100%;
}
.ViewUserImgCard{
    margin-top: -8%;
}
.ViewUserHeadingCard{
    text-align: left;
}
.ViewUserDetailsCard{
    width: 65%;
}
#ViewUserImgDetails{
    margin-left: 30%;
}